body {
  background: url('background.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  color: white;
}

.hand .card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  color: black;
  padding-left: 5px;
  font-size: 2em;
  background-size: 120%;
  background-repeat:no-repeat;
  background-position: center;
}

.hand {
  overflow: auto;
}

.Diamonds {
  background: url('diamond.jpg');
}

.Hearts {
  background: url('heart.jpg');
}

.Spades {
  background: url('spade.jpg');
}

.Clubs {
  background: url('club.jpg');
}

.covered {
  text-indent: -9999px;
  background: url('card.jpg');
  background-size: 100%;
}
